{% extends 'base.html.twig' %}

{% block body %}
    {% if contenu.id == 23 %}
        <h2>Village et composition</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv3-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 3">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village ouvert, qui amène stratégiquement l'ennemie à l'erreur.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv3-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 3">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

    {% elseif contenu.id == 24 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv4-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 4">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv4-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 4">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 25 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv5-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 5">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv5-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 5">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 26 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv6-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 6">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv6-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 6">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 27 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv7-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 7">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv7-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 7">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 28 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv8-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 8">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv8-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 8">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 29 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv9-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 9">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv9-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 9">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 30 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv10-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 10">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv10-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 10">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 31 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv11-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 11">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv11-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 11">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 32 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv12-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 12">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv12-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 12">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 33 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv13-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 13">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv13-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 13">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 34 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv14-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 14">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv14-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 14">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 35 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv15-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 15">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv15-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 15">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>

    {% elseif contenu.id == 36 %}
        <h2>Autre contenu</h2>
        <p>{{ contenu.contenu }}</p>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv16-1.png') }}" class="rounded-t-lg" alt="Hotel de ville 16">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, qui fait perdre du temps à l'adversaire.</p>
            </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="{{ asset('img/hdv16-2.png') }}" class="rounded-t-lg" alt="Hotel de ville 16">
            <div class="p-5">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un village fermé, un mortier isolé, idéal pour défendre des hordes.</p>
            </div>
        </div>
    {% else %}
        <h2>Contenu général</h2>
        <p>{{ contenu.contenu }}</p>
    {% endif %}
{% endblock %}
